<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/activity.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/details.css" type="text/css">
</head>
<body style="background: #f5f5f5">
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="activity.html">手机版</a></li>
                <li><a href="activity.html">游戏币交易</a></li>
                <li><a href="activity.html">Q币充值</a></li>
                <li><a href="activity.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="register.html">请先登录</a></li>
                <li><a href="activity.html">我的订单</a></li>
                <li><a href="activity.html">个人中心</a></li>
                <li><a href="activity.html">官方论坛</a></li>
                <li><a href="activity.html">帮助中心</a></li>
                <li><a href="activity.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="center_box">
    <div class="keyword" style="padding-top: 20px">商品首页 > 礼品收藏>手办雕塑>女神枪手 Q版手办</div>
    <div class="main_top">
        <div class="left_img">
            <div class="big_picture"></div>
            <div class="small_picture"></div>
        </div>
        <div class="right-info">
            <h2>女神枪手 Q版手办</h2>
            <p class="message">女枪手 Q版手办，赠送枪手（女）迷你尊享礼盒+全新格斗礼包！（购买后无法做退货处理~）</p>
            <p class="price"><b style="font-size: 22px;color: #ec2916">￥98.00</b>
                <s style="color: #a2a2a2;font-size: 15px">￥150.00</s></p>
            <p class="gifts"><span>赠品</span> 新格斗礼包，神枪手（女）迷你尊享礼盒</p>
            <p class="sold"><span>已售：132 </span><span>累计评价：4</span></p>
            <p class="quantity">数量<span>-</span><span>1</span><span>+</span>（还剩68件）</p>
            <p class="order">
                <button class="buy">加入购物车</button>
                <button class="buy">立即购买</button>
                <span>收藏</span></p>
        </div>
    </div>
    <div class="details_page_box">
        <div class="details_nav">
            <ul>
                <li style="border-bottom: solid 2px red">商品详情</li>
                <li>用户点评</li>
                <li>联系商家（10）</li>
            </ul>
        </div>
        <div class="information">
            <ul>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
                <li>品牌名：名龙堂(MLOONG)</li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>