<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-聚豆商城</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/mall.css" type="text/css">
    <link rel="stylesheet" href="../css/mobileGames.css" type="text/css">
</head>
<body>
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="mall.html">手机版</a></li>
                <li><a href="mall.html">游戏币交易</a></li>
                <li><a href="mall.html">Q币充值</a></li>
                <li><a href="mall.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="register.html">请先登录</a></li>
                <li><a href="mall.html">我的订单</a></li>
                <li><a href="mall.html">个人中心</a></li>
                <li><a href="mall.html">官方论坛</a></li>
                <li><a href="mall.html">帮助中心</a></li>
                <li><a href="mall.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具"><button></button></div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="friendlink"><a href="../index.html">道聚城</a> < <a href="mobileGames.html">聚豆商城</a></div>
<div class="main-1-wrap">
    <div class="main-01"><p>亲爱的用户,请 【登录】<a href="" title="每日签到领聚豆">每日签到领聚豆</a></p></div>
    <div class="main-02"><p>热门游戏</p>
        <ul>
            <li><img src="../images/p4-m1-m101.png"></li>
            <li><img src="../images/p4-m1-m102.png"></li>
            <li><img src="../images/p4-m1-m103.png"></li>
            <li><img src="../images/p4-m1-m104.png"></li>
            <li><img src="../images/p4-m1-m105.png"></li>
            <li><img src="../images/p4-m1-m106.png"></li>
            <li><img src="../images/p4-m1-m107.png"></li>
            <li><img src="../images/p4-m1-m108.png"></li>
            <li><img src="../images/p4-m1-m109.png"></li>
            <li><img src="../images/p4-m1-m110.png"></li>
            <li><img src="../images/p4-m1-m111.png"></li>
        </ul>
    </div>
    <div class="main-03">
        <p>角色扮演</p>
        <ul>
            <li title="剑灵">剑灵</li>
            <li title="天涯明月刀">天涯明月刀</li>
            <li title="疾风之刃">疾风之刃</li>
            <li title="御龙在天">御龙在天</li>
            <li title="地下城与勇士">地下城与勇士</li>
            <li title="QQ仙侠传">QQ仙侠传</li>
            <li title="天堂">天堂</li>
            <li title="QQ幻想世界">QQ幻想世界</li>
            <li title="轩辕传奇">轩辕传奇</li>
            <li title="斗战神">斗战神</li>
            <li title="怪物猎人">怪物猎人</li>
            <li title="寻仙">寻仙</li>
        </ul>
    </div>
    <div class="main-04">
        <p>竞技游戏</p>
        <ul>
            <li title="穿越火线">穿越火线</li>
            <li title="逆战">逆战</li>
            <li title="枪神纪">枪神纪</li>
            <li title="使命召唤">使命召唤</li>
            <li title="NBA2KPL">NBA2KPL</li>
            <li title="极品飞车">极品飞车</li>
        </ul>
    </div>
    <div class="main-04">
        <p>休闲游戏</p>
        <ul>
            <li title="QQ炫舞">QQ炫舞</li>
            <li title="炫舞时代">炫舞时代</li>
            <li title="QQ飞车">QQ飞车</li>
            <li title="QQ音速">QQ音速</li>
        </ul>
    </div>
    <div class="main-04" style="border: none">
        <p>网页游戏</p>
        <ul>
            <li title="七雄争霸">七雄争霸</li>
            <li title="部落守卫战">部落守卫战</li>
            <li title="Q宠大乐斗">Q宠大乐斗</li>
            <li title="火隐忍者OL">火隐忍者OL</li>
            <li title="英魂之战">英魂之战</li>
        </ul>
    </div>
</div>
<div class="middle-prize">
    <ul>
        <li><i class="comm"></i><span class="comm-txt">中奖快报 :</span></li>
        <li> 用户 36***4374 中了沙漠之鹰-炎龙 </li>
        <li>  用户 71***4673 中了足球手雷（30天)</li>
        <li> 用户 17***99886 中了沙漠之鹰-炎龙 </li>
    </ul>
</div>
<div class="Recom-title"><i class="p4-icon1 l"></i><span class="l">精品推荐</span></div>
<div class="Recom">
    <ul>
        <li>
            <img src="../images/p4-R1.png">
            <p class="R-p1">装备品级调整箱(5个)</p>
            <i>兑换</i>
            <p class="R-p2"><span>15</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        </li>
        <li>
            <img src="../images/p4-R2.png">
            <p class="R-p1">B车皮卡(30天)</p>
            <i>兑换</i>
            <p class="R-p2"><span>68</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        </li>
        <li>
            <img src="../images/p4-R3.jpg">
            <p class="R-p1">优秀洪门成长护符</p>
            <i>兑换</i>
            <p class="R-p2"><span>100</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        </li>
        <li>
            <img src="../images/p4-R4.png">
            <p class="R-p1">时光之翼(30天)</p>
            <i>兑换</i>
            <p class="R-p2"><span>200</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        </li>
    </ul>
</div>
<div class="exchange-title"><i class="p4-icon2"></i><span class="l">聚豆兑换</span></div>
<div class="Select-box">
    <div class="select-text">
        <span>兑换类型:</span>
        <select class="select">
            <option value="全部">全部</option>
            <option value="1">兑换</option>
            <option value="2">拼手气</option>
            <option value="3">宝箱</option>
        </select>
        <input type="checkbox" checked>
    </div>
</div>
<div class="Recom main2">
    <ul>
        <li><img src="../images/p4-11111.png">
            <p class="R-p1">杜鹃花(2个)</p>
            <i>兑换</i>
            <p class="R-p2"><span>4</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-22222.png">
            <p class="R-p1">凤凰凝视/蕾丝清淡-(30天)</p>
            <i>兑换</i>
            <p class="R-p2"><span>30</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-33333.png">
            <p class="R-p1">休闲哈伦/深色迷醉-(永久)</p>
            <i>兑换</i>
            <p class="R-p2"><span>80</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-44444.png">
            <p class="R-p1">学长卫衣/从容印花-(永久)</p>
            <i>兑换</i>
            <p class="R-p2"><span>80</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-55555.png">
            <p class="R-p1">铆钉灰裤/幽兰纱衣-（永久）</p>
            <i>兑换</i>
            <p class="R-p2"><span>80</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-66666.png">
            <p class="R-p1">折线蓝款/甜心北鼻-（永久）</p>
            <i>兑换</i>
            <p class="R-p2"><span>100</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-77777.png">
            <p class="R-p1">绿色星倾/粉蓝喵喵-（永久）</p>
            <i>兑换</i>
            <p class="R-p2"><span>80</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-88888.png">
            <p class="R-p1">低级任务卷轴（1个）</p>
            <i>兑换</i>
            <p class="R-p2"><span>5</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-99999.png">
            <p class="R-p1">低级任务卷轴（1个）</p>
            <i>兑换</i>
            <p class="R-p2"><span>100</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1010.png">
            <p class="R-p1">蓝雪花绕/袅袅花仙-（永久）</p>
            <i>兑换</i>
            <p class="R-p2"><span>150</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-11-11.png">
            <p class="R-p1">蝴绕耳畔（30天）</p>
            <i>兑换</i>
            <p class="R-p2"><span>100</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1212.png">
            <p class="R-p1">喇叭花（1个）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>15</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1313.png">
            <p class="R-p1">红色染料瓶（1个）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>20</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1414.png">
            <p class="R-p1">红色妖姬（7天）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>15</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1515.png">
            <p class="R-p1">经验棒棒糖（10个）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>20</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1616.png">
            <p class="R-p1">彩虹羽翼（30天）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>20</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1717.png">
            <p class="R-p1">印记超级神石（1个）</p>
            <i>拼手气</i>
            <p class="R-p2"><span>15</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1818.png">
            <p class="R-p1">萌物情节宝箱</p>
            <i>宝箱</i>
            <p class="R-p2"><span>10</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        <li><img src="../images/p4-1818.png">
            <p class="R-p1">舞动奇迹宝箱</p>
            <i>宝箱</i>
            <p class="R-p2"><span>20</span>聚豆</p>
            <a href="mall.html" title="立即兑换">立即兑换</a>
        </li>
    </ul>
</div>
<div class="rule">
    <p>活动规则</p>
    <ul>
        <li>1.【聚豆兑换】兑换限量如有限量，则先到先得；若已达到单日或单QQ限量则兑换不成功；</li>
        <li>2.【聚豆拼手气】、【聚豆宝箱】并非100%获得，一经确认消耗的聚豆不会退还；</li>
        <li>3.【实物乐园】获得实物奖励请尽快中奖当月月末之前填写正确的地址，以便工作人员寄送礼品；过期未正确填写地址视为放弃礼品；</li>
        <li>4. 如需查看兑换明细，请点击 【兑换记录】；</li>
        <li>5. 中奖道具将在24小时内发送至对应帐号；</li>
        <li>6. 本活动最终解释权由腾讯游戏所有</li>
    </ul>
</div>
<div class="bottom-banner">
    <ul>
        <li><img src="../images/ban1.jpg" title="聚豆商城2.0版本重磅开启"></li>
        <li><img src="../images/ban2.jpg" title="掌上道具城礼包上线"></li>
        <li><img src="../images/ban3.jpg" title="英雄联盟生日祝福"></li>
    </ul>
</div>
<div class="bottom">
    <div class="bottom-1">
        <div class="bottom-1-r">
            <ul>
                <li class="border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                    <p>什么是道具城</p>
                    <p>如何购买</p>
                    <p>如何赠送</p>
                    <p>如何获取聚豆</p>
                </li>
                <li class="border-b">
                    <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                    <p>发货时间</p>
                    <p>如何领取</p>
                    <p>补发规则</p>
                    <p>VIP价定义</p>
                    <p>道具状态定义</p>
                </li>
                <li class="border-b">
                    <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                    <p>支付方式</p>
                    <p>购物点支付</p>
                    <p>如何充值</p>
                </li>
                <li class="b-04 border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                    <p>腾讯官方在线客服</p>
                </li>
            </ul>
        </div>
        <div class="QR-code">
            <img src="../images/zsdjc.png">

            <img src="../images/wechatdjc.png">
            <p>掌上道具城</p>
            <p>道具城公众号</p>
        </div>
    </div>
    <div class="footnote">
        <a href="mall.html">服务条款</a>
        <a href="mall.html">娱乐互动娱乐</a>
        <a href="mall.html">广告服务</a>
        <a href="mall.html">腾讯游戏招聘</a>　
        <a href="mall.html">腾讯游戏客服</a>
        <a href="mall.html">成长守护平台</a>　
        <a href="mall.html">网站导航</a>
        <br>
        COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
        腾讯公司 版权所有
    </div>
</div>
</body>
</html>