<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-手游中心</title>
    <link rel="icon" href="../images/icon-1.png">
    <link href="../css/mobileGames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
</head>
<body>
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="index.html">手机版</a></li>
                <li><a href="index.html">游戏币交易</a></li>
                <li><a href="index.html">Q币充值</a></li>
                <li><a href="index.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="login.html">请先登录</a></li>
                <li><a href="index.html">我的订单</a></li>
                <li><a href="index.html">个人中心</a></li>
                <li><a href="index.html">官方论坛</a></li>
                <li><a href="index.html">帮助中心</a></li>
                <li><a href="index.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具"><button></button></div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
  <div class="friendlink"><a href="../index.html">道聚城</a> < <a href="mobileGames.html">手游中心</a></div>
    <div class="Carousel-p3"></div>
    <div class="main-p3">
        <ul>
            <li class="p3-li1"><img src="../images/p3-1.png">
                <a><b>真龙霸业</b></a><br>
                <p>18个道具销售卖中</p>
                <p>更平衡的三国策略</p>
                <i>竞技</i>
            </li>
            <li class="p3-li2"><img src="../images/p3-2.png">
                <a><b>最强NBA</b></a><br>
                <p>7个道具销售卖中</p>
                <p>今日还有13个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-3.png">
                <a><b>魂斗罗</b></a><br>
                <p>4个道具销售卖中</p>
                <p>今日还有17个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-4.png">
                <a><b>奇迹觉醒</b></a><br>
                <p>23个道具销售卖中</p>
                <p>今日还有13个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-5.png">
                <a><b>王者荣耀</b></a><br>
                <p>183个道具销售卖中</p>
                <p>今日还有2个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-6.png">
                <a><b>穿越火线:枪战王者</b></a><br>
                <p>98个道具销售卖中</p>
                <p>今日还有16个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-7.png">
                <a><b>天天酷跑</b></a><br>
                <p>40个道具销售卖中</p>
                <p>今日还有14个礼包待领取</p>
                <i>休闲</i>
            </li>
            <li><img src="../images/p3-8.png">
                <a><b>轩辕传奇</b></a><br>
                <p>7个道具销售卖中</p>
                <p>今日还有10个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-9.png">
                <a><b>英雄无敌</b></a><br>
                <p>10个道具销售卖中</p>
                <p>今日还有10个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-10.png">
                <a><b>乱世王者</b></a><br>
                <p>37个道具销售卖中</p>
                <p>今日还有15个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-11.png">
                <a><b>天龙八部手游</b></a><br>
                <p>15个道具销售卖中</p>
                <p>今日还有12个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-12.png">
                <a><b>寻仙</b></a><br>
                <p>6个道具销售卖中</p>
                <p>今日还有12个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-13.png">
                <a><b>龙之谷</b></a><br>
                <p>9个道具销售卖中</p>
                <p>今日还有4个礼包待领取</p>
                <i>角色</i>
            </li>
            <li><img src="../images/p3-14.png">
                <a><b>全民飞机大战</b></a><br>
                <p>35个道具销售卖中</p>
                <p>今日还有17个礼包待领取</p>
                <i>休闲</i>
            </li>
            <li><img src="../images/p3-15.png">
                <a><b>剑侠情缘</b></a><br>
                <p>34个道具销售卖中</p>
                <p>今日还有18个礼包待领取</p>
                <i>角色</i>
            </li>
            <li><img src="../images/p3-16.png">
                <a><b>火影忍者手游</b></a><br>
                <p>24个道具销售卖中</p>
                <p>今日还有1个礼包待领取</p>
                <i>竞技</i>
            </li>
            <li><img src="../images/p3-17.png">
                <a><b>捕鱼来了</b></a><br>
                <p>5个道具销售卖中</p>
                <p>今日还有6个礼包待领取</p>
                <i>休闲</i>
            </li>
            <li><img src="../images/p3-18.png">
                <a><b>梦幻诛仙</b></a><br>
                <p>13个道具销售卖中</p>
                <p>今日还有7个礼包待领取</p>
                <i>角色</i>
            </li>
            <li><img src="../images/p3-19.png">
                <a><b>仙剑奇侠传OL</b></a><br>
                <p>8个道具销售卖中</p>
                <p>今日还有8个礼包待领取</p>
                <i>角色</i>
            </li>
            <li><img src="../images/p3-20.png">
                <a><b>御龙在天手游</b></a><br>
                <p>7个道具销售卖中</p>
                <p>今日还有5个礼包待领取</p>
                <i>角色</i>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <div class="bottom-1">
            <div class="bottom-1-r">
                <ul>
                    <li class="border-b">
                        <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                        <p>什么是道具城</p>
                        <p>如何购买</p>
                        <p>如何赠送</p>
                        <p>如何获取聚豆</p>
                    </li>
                    <li class="border-b">
                        <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                        <p>发货时间</p>
                        <p>如何领取</p>
                        <p>补发规则</p>
                        <p>VIP价定义</p>
                        <p>道具状态定义</p>
                    </li>
                    <li class="border-b">
                        <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                        <p>支付方式</p>
                        <p>购物点支付</p>
                        <p>如何充值</p>
                    </li>
                    <li class="b-04 border-b">
                        <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                        <p>腾讯官方在线客服</p>
                    </li>
                </ul>
            </div>
            <div class="QR-code">
                <img src="../images/zsdjc.png">

                <img src="../images/wechatdjc.png">
                <p>掌上道具城</p> <p>道具城公众号</p>
            </div>
        </div>
        <div class="footnote">
            <a href="mobileGames.html">服务条款</a>
            <a href="mobileGames.html">娱乐互动娱乐</a>
            <a href="mobileGames.html">广告服务</a>
            <a href="mobileGames.html">腾讯游戏招聘</a>　
            <a href="mobileGames.html">腾讯游戏客服</a>
            <a href="mobileGames.html">成长守护平台</a>　
            <a href="mobileGames.html">网站导航</a>
            <br>
            COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
            腾讯公司 版权所有
        </div>
    </div>
</div>
</body>
</html>