<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-我的订单</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/myOrder.css" type="text/css">
    <link rel="stylesheet" href="../css/personal.css" type="text/css">
</head>
<body style="color: #3a3f4a;">
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="personal.html">手机版</a></li>
                <li><a href="personal.html">游戏币交易</a></li>
                <li><a href="personal.html">Q币充值</a></li>
                <li><a href="personal.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="register.html">请先登录</a></li>
                <li><a href="personal.html">我的订单</a></li>
                <li><a href="personal.html">个人中心</a></li>
                <li><a href="personal.html">官方论坛</a></li>
                <li><a href="personal.html">帮助中心</a></li>
                <li><a href="personal.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <div class="frien"><a href="../index.html">道具城</a> > <a href="personal.html">
        个人中心</a> > <a href="myOrder.html">我的订单</a></div>
    <div class="p6-wrap">
        <div class="left-nav">
            <ul>
                <li>
                    <a href="personal.html">
                        <i class="user-icon"></i>
                        <span title="个人中心首页">个人中心首页</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="privilege-icon"></i>
                        <span title="我的特权">我的特权</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="task-icon"></i>
                        <span title="我的任务">我的任务</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html">
                        <i class="p4-icon1"></i>
                        <span title="我的订单">我的订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p5-icon1"></i>
                        <span title="我的周边订单">我的周边订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p6-icon1"></i>
                        <span title="我的收获地址"><a href="address.html">我的收获地址</a></span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p7-icon1"></i>
                        <span title="我的购物点">我的购物点</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p8-icon1"></i>
                        <span title="我的优惠卷">我的优惠卷</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p9-icon1"></i>
                        <span title="我的聚豆">我的聚豆</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p10-icon1"></i>
                        <span title="我的消息">我的消息</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p11-icon1"></i>
                        <span title="我的关注">我的关注</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p12-icon1"></i>
                        <span title="我的功能性道具">我的功能性道具</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p13-icon1"></i>
                        <span title="领取魅力值">领取魅力值</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p14-icon1"></i>
                        <span title="我的票务">我的票务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-box">
            <div class="order-title">
                <p class="priv-p1" style="margin-left: 20px"><b>我的订单</b>
                    <span class="line"><s class="l-b"></s></span></p>
            </div>
            <div class="query-box">
                <div class="query"><input type="text" placeholder="请输入订单号"><button>查询订单</button></div>
            </div>
            <div class="history">
                <div class="history-tiele">订单详情</div>
            </div>
            <div class="details">
                <div class="details2">
                    <div class="name1">
                            <ul>
                                <li style="width: 127px;font-size: 15px">游戏</li>
                                <li style="width: 217px;font-size: 15px">订单物品</li>
                                <li style="width: 85px;font-size: 15px">数量</li>
                                <li style="width: 139px;font-size: 15px">实付款</li>
                                <li style="width: 180px;font-size: 15px">全部订单状态</li>
                                <li style="width: 101px;font-size: 15px">操作</li>
                            </ul>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                        <ul>
                            <li style="width: 127px">2018-02-25</li>
                            <li style="width: 342px">订单号：LOL-20180225004125920-901</li>
                        </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">黑色天灾 辛吉德</li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">18.00QB</li>
                                <li style="width: 180px">交易已自动取消</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2018-02-03</li>
                                <li style="width: 342px">订单号：LOL-20180203181840729-511</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">电玩勇者 伊泽瑞尔</li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">29.70QB</li>
                                <li style="width: 180px;color: red">交易完成</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2018-02-25</li>
                                <li style="width: 342px">订单号：LOL-20180203181612552-881</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px"> 帝王斑蝶 克格’莫 </li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">20.70QB</li>
                                <li style="width: 180px;color: red">交易完成</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2018-02-25</li>
                                <li style="width: 342px">订单号：LOL-20171213140107760-561</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">钻石</li>
                                <li style="width: 85px">200</li>
                                <li style="width: 139px">20.00QB</li>
                                <li style="width: 180px">交易已自动取消</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2017-12-10</li>
                                <li style="width: 342px">订单号：LOL-20171210175506967-491</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">星之守护者 拉克丝 </li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">31.00QB</li>
                                <li style="width: 180px">交易已自动取消</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2017-12-08</li>
                                <li style="width: 342px">订单号：LOL-20171208210934211-331</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">星之守护者 金克丝</li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">39.60QB</li>
                                <li style="width: 180px;color: red">交易完成</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2017-12-08</li>
                                <li style="width: 342px">订单号：LOL-20171208183833515-591</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">英雄联盟</li>
                                <li style="width: 217px">克格汪</li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">77.40QB</li>
                                <li style="width: 180px">交易自动关闭</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="order1">
                        <div class="order1-01">
                            <ul>
                                <li style="width: 127px">2017-12-08</li>
                                <li style="width: 342px">订单号：LOL-20171208210934211-331</li>
                            </ul>
                        </div>
                        <div class="order1-02">
                            <ul>
                                <li style="width: 127px">穿越火线</li>
                                <li style="width: 217px"> 2000CF点 </li>
                                <li style="width: 85px">1</li>
                                <li style="width: 139px">1.00QB 手机订单</li>
                                <li style="width: 180px;color: red">交易完成</li>
                                <li style="width: 101px"><span>[订单详情]</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="page"><p>1</p></div>
                <div class="prompt">
                        <p>
                   <b>温馨提示：</b>
                        <br>
                    1、购买成功后系统会自动发货，如发货失败24小时内会自动补发！
                        <br>
                    2、如果网银重复付款或付款后订单取消，道具未到账，网银退款将在15个工作日内到账</p>
                </div>
            </div>
        </div>

        <div class="Recommend" style="float: right">
            <div class="Recommend-wrap">
                <div class="Recommend-title">
                    <b style="margin-left: 10px">猜你喜欢</b><a href="personal.html">换一换>></a></div>
                <div class="Recommend-p5">
                    <ul>
                        <li class="p5-border">
                            <img src="../images/boosts-1.jpg">
                            <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                            <p class="R-words"><a>胜利经验卡(10胜)</a></p>
                            <p class="li-3">商城价:<b>29.00QB</b></p>
                        </li>
                        <li class="border-t-b">
                            <img src="../images/boosts-2.jpg">
                            <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                            <p class="R-words"><a>双倍金币卡(3日)</a></p>
                            <p class="li-3">商城价:<b>22.00QB</b></p>
                        </li>
                        <li class="p5-border">
                            <img src="../images/boosts-3.jpg">
                            <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                            <p class="R-words"><a>高丽风情 阿狸</a></p>
                            <p class="li-3">商城价:<b>10.00QB</b></p>
                        </li>
                        <li class="border-t-b">
                            <img src="../images/boosts-4.jpg">
                            <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                            <p class="R-words"><a>战地机甲 斯卡纳</a></p>
                            <p class="li-3">商城价:<b>34.50QB</b></p>
                        </li>
                        <li class="p5-border">
                            <img src="../images/boosts-5.jpg">
                            <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                            <p class="R-words"><a>黑色荆棘 莫甘娜</a></p>
                            <p class="li-3">商城价:<b>69.00QB</b></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="bottom">
        <div class="bottom-1">
            <div class="bottom-1-r">
                <ul>
                    <li class="border-b">
                        <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                        <p>什么是道具城</p>
                        <p>如何购买</p>
                        <p>如何赠送</p>
                        <p>如何获取聚豆</p>
                    </li>
                    <li class="border-b">
                        <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                        <p>发货时间</p>
                        <p>如何领取</p>
                        <p>补发规则</p>
                        <p>VIP价定义</p>
                        <p>道具状态定义</p>
                    </li>
                    <li class="border-b">
                        <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                        <p>支付方式</p>
                        <p>购物点支付</p>
                        <p>如何充值</p>
                    </li>
                    <li class="b-04 border-b">
                        <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                        <p>腾讯官方在线客服</p>
                    </li>
                </ul>
            </div>
            <div class="QR-code">
                <img src="../images/zsdjc.png">

                <img src="../images/wechatdjc.png">
                <p>掌上道具城</p> <p>道具城公众号</p>
            </div>
        </div>
        <div class="footnote">
            <a href="personal.html">服务条款</a>
            <a href="personal.html">娱乐互动娱乐</a>
            <a href="personal.html">广告服务</a>
            <a href="personal.html">腾讯游戏招聘</a>　
            <a href="personal.html">腾讯游戏客服</a>
            <a href="personal.html">成长守护平台</a>　
            <a href="personal.html">网站导航</a>
            <br>
            COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
            腾讯公司 版权所有
        </div>
    </div>

</div>
</body>
</html>