<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-活动中心</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/activity.css" type="text/css">
</head>
<body>
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="activity.html">手机版</a></li>
                <li><a href="activity.html">游戏币交易</a></li>
                <li><a href="activity.html">Q币充值</a></li>
                <li><a href="activity.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="register.html">请先登录</a></li>
                <li><a href="activity.html">我的订单</a></li>
                <li><a href="activity.html">个人中心</a></li>
                <li><a href="activity.html">官方论坛</a></li>
                <li><a href="activity.html">帮助中心</a></li>
                <li><a href="activity.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具"><button></button></div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap-2">
    <div class="keyword">道具城 > 活动列表</div>
    <div class="header-wrap">
        <div class="header-1"><a>全网活动 ></a> <span>共54个活动在线,3625活动在线已结束</span></div>
        <div class="header-2"><p><a style="font-size: 14px">游戏名称:</a>　<a href="activity.html">英雄联盟(266)</a>　|　
            <a href="activity.html">穿越火线(535)</a>　|　<a href="activity.html">使命召唤(344)</a>　|　<a href="activity.html">逆战(290)</a>|　
            <a href="activity.html">地下城与勇士(282)</a>　|<a href="activity.html">QQ飞车(269)</a>　|　<a href="activity.html">剑灵(238)</a>　|　
            <a href="activity.html">QQ炫舞(222)</a>　|<span style=" display: inline-block;">更多+</span></p>
        </div>
        <div class="header-3"><p><span>活动状态:</span>　<a href="activity.html">正在进行(54)</a>　|　
            <a href="activity.html">即将开始(0)</a>　|　<a href="activity.html">今日上架(3)</a>　|　<a href="activity.html">已结束(3625)</a>
        </p></div>
    </div>
    <div class="msg-2">
        <ul>
            <li class="m-li1"> 默认排序</li>
            <li class="m-li2">按时间排序</li>
        </ul>
    </div>
    <div class="main">
        <ul>
            <li class="li1">
                <img src="../images/m-1.jpg">
                <a><b>至高领域</b></a>
                <p>活动时间:2018-04-04~2018-04-07</p>
            </li>
            <li class="li2">
                <img src="../images/m-2.jpg">
                <a><b>神龙商店</b></a>
                <p>活动时间:2018-04-04~2018-04-15</p>
            </li>
            <li class="li3">
                <img src="../images/m-3.jpg">
                <a><b>厄运小姐的厄运武装</b></a>
                <p>活动时间:2018-03-30~2018-04-28</p>
            </li>
            <li class="li4" >
                <img src="../images/m-4.jpg">
                <a><b>3月占卜</b></a>
                <p>活动时间:2018-03-30~2018-04-15</p>
            </li>
            <li class="li5">
                <img src="../images/m-5.jpg">
                <a><b>空前危机使徒来袭</b></a>
                <p>活动时间:2018-03-26~2018-04-12</p>
            </li>
            <li class="li6">
                <img src="../images/m-6.jpg">
                <a><b>3月一锤定音</b></a>
                <p>活动时间:2018-03-22~2018-04-08</p>
            </li>
            <li class="li7">
                <img src="../images/m-7.png">
                <a><b>死兆星的神秘力量</b></a>
                <p>活动时间:2018-03-12~2018-04-10</p>
            </li>
            <li class="li8">
                <img src="../images/m-8.png">
                <a><b>死兆星嘉文四世</b></a>
                <p>活动时间:2018-03-09~2018-04-07</p>
            </li>
            <li class="li9">
                <img src="../images/m-9.jpg">
                <a><b>五折皮肤限时销售</b></a>
                <p>活动时间:2018-03-030~2018-04-02</p>
            </li>
        </ul>
    </div>
</div>
<div class="Flip">
<span><</span>
<span>上一页</span>
<span>1</span>
<span>2</span>
<span>3</span>
<span>4</span>
<span>5</span>
<span>下一页</span>
<span>></span>
</div>
<div class="bottom">
    <div class="bottom-1">
        <div class="bottom-1-r">
            <ul>
                <li class="border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                    <p>什么是道具城</p>
                    <p>如何购买</p>
                    <p>如何赠送</p>
                    <p>如何获取聚豆</p>
                </li>
                <li class="border-b">
                    <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                    <p>发货时间</p>
                    <p>如何领取</p>
                    <p>补发规则</p>
                    <p>VIP价定义</p>
                    <p>道具状态定义</p>
                </li>
                <li class="border-b">
                    <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                    <p>支付方式</p>
                    <p>购物点支付</p>
                    <p>如何充值</p>
                </li>
                <li class="b-04 border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                    <p>腾讯官方在线客服</p>
                </li>
            </ul>
        </div>
        <div class="QR-code">
            <img src="../images/zsdjc.png">

            <img src="../images/wechatdjc.png">
            <p>掌上道具城</p> <p>道具城公众号</p>
        </div>
    </div>
    <div class="footnote">
        <a href="activity.html">服务条款</a>
        <a href="activity.html">娱乐互动娱乐</a>
        <a href="activity.html">广告服务</a>
        <a href="activity.html">腾讯游戏招聘</a>　
        <a href="activity.html">腾讯游戏客服</a>
        <a href="activity.html">成长守护平台</a>　
        <a href="activity.html">网站导航</a>
        <br>
        COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
        腾讯公司 版权所有
    </div>
</div>
</body>
</html>