<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/shoppingCart.css" type="text/css">
    <link rel="stylesheet" href="../css/personal.css" type="text/css">
</head>
<body>
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="../index.html">手机版</a></li>
                <li><a href="../index.html">游戏币交易</a></li>
                <li><a href="../index.html">Q币充值</a></li>
                <li><a href="../index.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="../view/register.html">请先登录</a></li>
                <li><a href="../view/myOrder.html">我的订单</a></li>
                <li><a href="../view/personal.html">个人中心</a></li>
                <li><a href="../index.html">官方论坛</a></li>
                <li><a href="../index.html">帮助中心</a></li>
                <li><a href="../index.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="../view/activity.html">活动中心</a></li>
            <li><a href="../view/eslite.html">聚诚品</a></li>
            <li><a href="../view/mobileGames.html">手游中心</a></li>
            <li><a href="../view/mall.html">聚豆商城</a></li>
            <li><a href="../view/personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <div class="frien">您现在的位置 > <a href="shoppingCart.html">购物车</a></div>
    <div class="box">
        <div class="point"><b>收货角色信息</b></div>
        <div class="character">当前绑定角色：<b>广西电信 广西电信一区 Alena</b><span>更换角色信息</span></div>
        <div class="point"><b>商品信息</b></div>
        <div class="detail_box">
            <div class="detail_sort">
                <ul>
                    <li>全选</li>
                    <li style="width: 250px">商品名称</li>
                    <li>类型</li>
                    <li>单价</li>
                    <li>期限</li>
                    <li>数量</li>
                    <li>优惠</li>
                    <li>小计</li>
                    <li>操作</li>
                </ul>
            </div>
            <div class="orders">
                <ul>
                    <li style="width: 340px"><img src="../images/11111-04.jpg">高丽风情 阿狸</li>
                    <li>皮肤</li>
                    <li>10.00Q币</li>
                    <li>永久</li>
                    <li>无优惠</li>
                    <li>无优惠</li>
                    <li>10.00Q币</li>
                    <li><span>关注 删除</span></li>
                </ul>
            </div>
            <div class="orders">
                <ul>
                    <li style="width: 340px"><img src="../images/11111-04.jpg">高丽风情 阿狸</li>
                    <li>皮肤</li>
                    <li>10.00Q币</li>
                    <li>永久</li>
                    <li>无优惠</li>
                    <li>无优惠</li>
                    <li>10.00Q币</li>
                    <li><span>关注 删除</span></li>
                </ul>
            </div>
            <div class="orders">
                <ul>
                    <li style="width: 340px"><img src="../images/11111-04.jpg">高丽风情 阿狸</li>
                    <li>皮肤</li>
                    <li>10.00Q币</li>
                    <li>永久</li>
                    <li>无优惠</li>
                    <li>无优惠</li>
                    <li>10.00Q币</li>
                    <li><span>关注 删除</span></li>
                </ul>
            </div>
            <div class="orders">
                <ul>
                    <li style="width: 340px"><img src="../images/11111-04.jpg">高丽风情 阿狸</li>
                    <li>皮肤</li>
                    <li>10.00Q币</li>
                    <li>永久</li>
                    <li>无优惠</li>
                    <li>无优惠</li>
                    <li>10.00Q币</li>
                    <li><span>关注 删除</span></li>
                </ul>
            </div>
            <div class="orders">
                <ul>
                    <li style="width: 340px"><img src="../images/11111-04.jpg">高丽风情 阿狸</li>
                    <li>皮肤</li>
                    <li>10.00Q币</li>
                    <li>永久</li>
                    <li>无优惠</li>
                    <li>无优惠</li>
                    <li>10.00Q币</li>
                    <li><span>关注 删除</span></li>
                </ul>
            </div>
        </div>
        <div class="point"><b>您的优惠信息</b></div>
        <div class="coupon">优惠券总量：<b style="color: red">0</b>如何获得优惠券>></div>
        <div class="submit"><b><span class="online">英雄联盟周边商城火热上线</span>查看详情</b>
            <span class="payment">实付款:<b class="gold">0.00</b>Q币 </span>
            <a><b>提交订单</b></a>
        </div>
        <div class="point" style="margin-top: 20px"><b>温馨提示</b></div>
        <div class="hint">
        <p class="red">"LOL优惠券使用规则：[道具包]分类道具全场无法使用，每张优惠券的信息，
            请仔细核对以下信息：订单满减的金额是否符合要求、优惠券限定可用的道具范围。"</p>
        <p>"购买成功后系统会自动发货，如发货失败24小时内会自动补发。"</p>
        <p>"请确认游戏中是否存在购物车中的英雄或皮肤，如果存在，请勿重复购买。"</p>
        <p>"请重新登录游戏查收物品。"</p>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="bottom-1">
        <div class="bottom-1-r">
            <ul>
                <li class="border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                    <p>什么是道具城</p>
                    <p>如何购买</p>
                    <p>如何赠送</p>
                    <p>如何获取聚豆</p>
                </li>
                <li class="border-b">
                    <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                    <p>发货时间</p>
                    <p>如何领取</p>
                    <p>补发规则</p>
                    <p>VIP价定义</p>
                    <p>道具状态定义</p>
                </li>
                <li class="border-b">
                    <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                    <p>支付方式</p>
                    <p>购物点支付</p>
                    <p>如何充值</p>
                </li>
                <li class="b-04 border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                    <p>腾讯官方在线客服</p>
                </li>
            </ul>
        </div>
        <div class="QR-code">
            <img src="../images/zsdjc.png">

            <img src="../images/wechatdjc.png">
            <p>掌上道具城</p>
            <p>道具城公众号</p>
        </div>
    </div>
    <div class="footnote">
        <a href="personal.html">服务条款</a>
        <a href="personal.html">娱乐互动娱乐</a>
        <a href="personal.html">广告服务</a>
        <a href="personal.html">腾讯游戏招聘</a>　
        <a href="personal.html">腾讯游戏客服</a>
        <a href="personal.html">成长守护平台</a>　
        <a href="personal.html">网站导航</a>
        <br>
        COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
        腾讯公司 版权所有
    </div>
</div>
</body>
</html>