.center_box {
    width: 1100px;
    height: 1500px;
    margin: 0 auto;
    background: #ffe0fb;
}

.main_top {
    width: 1100px;
    height: 440px;
    background: #ffffff;
    margin: 10px auto;
}

.left_img {
    width: 340px;
    height: 400px;
    background: #bfe0da;
    float: left;
    margin-top: 20px;
}

.right-info {
    width: 750px;
    height: 400px;
    background: #bfe0da;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.message {
    font-size: 12px;
    color: #b5b5b5;
    margin: 20px 0;
}

.gifts {
    width: 720px;
    height: 32px;
    background: #54ecb6;
    border-bottom: 1px #8f9d9c dotted;
    padding-top: 50px;
    font-size: 15px;
    color: #7d6363;
}

.gifts span {
    width: 40px;
    height: 24px;
    background: #ffcccc;
    border: 1px solid #cb0000;
    display: inline-block;
    text-align: center;
    color: #cb0000;
}

.sold {
    width: 720px;
    height: 60px;
    background: #ec99e6;
    border-bottom: 1px #8f9d9c dotted;
    line-height: 60px;
}
.sold span{
    display: inline-block;
    width: 300px;

}