
.p6-wrap {
    width: 1190px;
    height: 1520px;
    /*background: #94a5a4;*/
    margin: 5px auto;
}
.frien a{
    text-decoration: none;
    color: #6e6e6e;
}
.frien a:hover{
    color: #e13c31;
}
.right-box {
    width: 952px;
    height: 1250px;
    background: #ffffff;
    margin-left: 10px;
    float: left;
}

.query-box { /*查询*/
    width: 908px;
    height: 54px;
    /*background: #c4d9d8;*/
    margin: 10px auto;
    padding: 5px;
}
.query {
    width: 500px;
    height: 40px;
    background-color: #e43333;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.query input {
    width: 396px;
    height: 36px;
    outline: none;
    border: none;
    text-indent: 1em;
    color: #3a3f4a;
    margin-top: 2px;
    margin-left: 2px;
}
.query button {
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #e43333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.history { /*历史订单*/
    width: 906px;
    height: 45px;
    /*background: #aedde6;*/
    margin: 10px auto 0;
    border-top: 1px solid #e6e9ef;
    border-right: 1px solid #e6e9ef;
    border-left: 1px solid #e6e9ef;
}

.history-tiele { /*历史订单*/
    width: 131px;
    height: 44px;
    /*background: #e0d62f;*/
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #e6e9ef;
    border-bottom: 2px solid #e62d0f;
}

.details { /*订单详情*/
    width: 906px;
    height: 910px;
    /*background: #9ad2ff;*/
    margin: 0 auto 0;
    border-right: 2px solid #e6e9ef;
    border-left: 2px solid #e6e9ef;
    border-top: 2px solid #e6e9ef;
}

.details2 {
    width: 864px;
    height: 900px;
    /*background: #ba73fc;*/
    margin: 10px 20px 0;
}

.name1 { /*名称*/
    width: 864px;
    height: 70px;
    /*background: #89e07e;*/
}

.name1 ul li {
    list-style-type: none;
    float: left;
    line-height: 70px;
    font-size: 15px;
    text-align: center;
}

.order1 { /*订单*/
    width: 864px;
    height: 100px;
    /*background: #f69430;*/
    margin: 5px auto;
}

.order1-01 {
    width: 864px;
    height: 30px;
    background: #f3f4f6;
    border-top: 1px solid #e6e9ef;
    border-bottom: 1px solid #e6e9ef;
}

.order1-01 ul li {
    list-style-type: none;
    float: left;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.order1-02 {
    width: 864px;
    height: 70px;
}

.order1-02 ul li {
    list-style-type: none;
    float: left;
    line-height: 70px;
    font-size: 13px;
    text-align: center;
}

.order1 span {
    color: #1994eb;
}

.page { /*页*/
    width: 908px;
    height: 80px;
    /*background: #00bf67;*/
    border: 1px solid #e6e9ef;
    margin-left: -2px;
}

.page p {
    width: 28px;
    height: 28px;
    background: #f74a4a;
    border: 1px #f74a4a;
    color: #f3f4f6;
    text-align: center;
    line-height: 25px;
    margin: 30px auto 0;
}

.prompt { /*提示*/
    width: 908px;
    height: 70px;
    /*background: #f69430;*/
    border-left: 1px solid #e6e9ef;
    border-right: 1px solid #e6e9ef;
    border-bottom: 1px solid #e6e9ef;
    margin-left: -2px;
}

.prompt p {
    font-size: 12px;
    width: 900px;
    height: 17px;
    padding: 13px 0 0 5px;
}

.prompt b {
    margin-left: 10px;
    font-size: 13px;
    color: #f74a4a;
}
