
.friendlink{
    width: 1200px;
    height: 30px;
    /*background: #bad9d7;*/
    margin: 0 auto;
    line-height: 30px;
    color: #a8a8a8;
}
.friendlink a{
    color: #a8a8a8;
    text-decoration: none;
}
.friendlink a:hover{
    text-decoration: underline;
}
.Carousel-p3{
    width: 1190px;
    height: 340px;
    /*background: #b47d80;*/
    margin: 15px auto;
    background: url("../images/p3-lb-03.jpg") no-repeat center center;
    background-size: cover;
}
.main-p3{
 width: 1190px;
    height: 1430px;
    /*background: #c493d9;*/
    margin: 20px auto;
}
.main-p3 ul li{
    width: 390px;
    height: 190px;
    background: #ffffff;
    margin: 3px 3px;
    float: left;
    list-style-type: none;
    position: relative;
}
.main-p3 img{
    float: left;
    width: 110px;
    height: 110px;
    margin: 30px 20px;
}
.main-p3 a{
  margin-top: 30px;
    margin-left: 20px;
    display:inline-block;
    width: 220px;
    height: 18px;
    font-size: 18px;
}
.main-p3 p{
    float: left;
    width: 220px;
    height: 15px;
    margin-left: 20px;
    margin-top: 15px;
}
.main-p3 ul li  i{
    width: 77px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-style: normal;
    position: absolute;
    background: url("../images/icon-mg.png")  -256px -135px no-repeat;
    top: 0;
    right: 0;
}