<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <!--登录注册-->
    <div class="login-box">
        <div class="login-center">
            <p style="font-size: 17px">账号密码登录</p>
            <p>推荐使用<span>快速安全登录</span>,防止盗号</p>
            <div class="form">
                <input class="input" type="text" maxlength="20" placeholder="支持QQ号/邮箱/手机号登录">
                <input class="input" type="text" maxlength="20" placeholder="密码">
            </div>
        </div>
    </div>
    <!--登录注册-->
</div>
</body>
</html>