<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
<form action="./usersCtrl.php?actview=doreg" method="post">
    <p>
        用户名：
        <input type="text" name="uname">
    </p>
    <p>
        密码：
        <input type="text" name="upasswd">
    </p>
    <p>
        确认密码：
        <input type="text" name="upasswd2">
    </p>
    <p>
        验证码：
        <input type="text" name="vcode">
        <br>
        <img src="../Models/vcode/vcodeImg.php"
             onclick="this.src='../Models/vcode/vcodeImg.php?v='+Math.random()">
    </p>
    <p>
        <button>注册</button>
    </p>

</form>
</body>
</html>