<div id="hd">
    <div class="hd-wrap ue-clear">
        <div class="top-light"></div>
        <h1 class="logo"></h1>
        <div class="login-info ue-clear">
            <div class="welcome ue-clear"><span>欢迎您,</span><a href="javascript:;" class="user-name">Admin</a></div>
            <div class="login-msg ue-clear">
                <a href="javascript:;" class="msg-txt">消息</a>
                <a href="javascript:;" class="msg-num">10</a>
            </div>
        </div>
        <div class="toolbar ue-clear">
            <a href="javascript:;" class="home-btn">首页</a>
            <a href="javascript:;" class="quit-btn exit"></a>
        </div>
    </div>
</div>