* {
    padding: 0;
    margin: 0;
}

.container {
    outline: 2px solid red;
}

.row {
    outline: 2px solid #ff8a27;
}

.row > div {
    outline: 2px solid #0055ff;
}

/****************************************************/
.head {
    height: 50px;
    background: #ff8698;

}

.head ul {
    float: right;
}

.head ul li {
    float: left;
    height: 55px;
    margin-right: 50px;
    list-style-type: none;
    line-height: 55px;
}

.form_wrap {
    /*width: 310px;*/
    height: 500px;
    background: #f9c2f1;
    margin-top: 50px;
}
.title {
    font-size: 23px;
}

.title_2 {
    font-size: 16px;
    margin-top: 10px;
}

.title_2 span {
    font-size: 14px;
    float: right;
    color: #00a5ff;
}

.form {
    /*padding:0 20px 0 20px  ;*/
}
/*表单样式*/
.form-content {
    margin-bottom: 10px;
}
.form-content input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ff5b5b;
    outline: none;
    text-indent: .5em;
    font-size: 16px;
    color: #666;
}
.register-tip {
    margin-top: 4px;
    font-size: 14px;
    text-indent: 2px;
    color: #ff5b5b;
    display: none;
}
.register-tip p {
    margin: 0;
}
.register-tip i {
    display: inline-block;
    background: url("../images/error.png") no-repeat 0 3px;
    padding:  0px 16px 0 0;
    height: 18px;
    float: left;
}
.user-phone .phone-number {
    width: 75%;
}
.user-phone .phone-code {
    width: 20%;
    float: right;
}

.buttons {
    /*width: 260px;*/
    height: 35px;
    background: #378aff;
    color: #f8f8f8;
    border: 1px solid #378aff;
    margin-top: 15px;
    margin-left: 24px;
    border-radius: 4px;
}

.terms {
    font-size: 10px;
    color: #8f9d9c;
    margin-left: 25px;
    margin-top: 15px;
}

.footnote {
    text-align: center;
}