<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/address.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/personal.css" type="text/css">
    <link rel="stylesheet" href="../css/myOrder.css" type="text/css">
</head>
<body style="color: #3a3f4a;">
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="personal.html">手机版</a></li>
                <li><a href="personal.html">游戏币交易</a></li>
                <li><a href="personal.html">Q币充值</a></li>
                <li><a href="personal.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="login.html">请先登录</a></li>
                <li><a href="personal.html">我的订单</a></li>
                <li><a href="personal.html">个人中心</a></li>
                <li><a href="personal.html">官方论坛</a></li>
                <li><a href="personal.html">帮助中心</a></li>
                <li><a href="personal.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap" style="background: #d8d8d8;height: 900px">
    <div class="frien"><a href="../index.html">道具城</a> > <a href="personal.html">
        个人中心</a> > <a href="myOrder.html">我的订单</a></div>
    <div class="p6-wrap" style="height: 850px;background: #b48095">
        <div class="left-nav">
            <ul>
                <li>
                    <a href="personal.html">
                        <i class="user-icon"></i>
                        <span title="个人中心首页">个人中心首页</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="privilege-icon"></i>
                        <span title="我的特权">我的特权</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="task-icon"></i>
                        <span title="我的任务">我的任务</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html">
                        <i class="p4-icon1"></i>
                        <span title="我的订单">我的订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p5-icon1"></i>
                        <span title="我的周边订单">我的周边订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p6-icon1"></i>
                        <span title="我的收获地址">我的收获地址</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p7-icon1"></i>
                        <span title="我的收获地址">我的购物点</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p8-icon1"></i>
                        <span title="我的优惠卷">我的优惠卷</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p9-icon1"></i>
                        <span title="我的聚豆">我的聚豆</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p10-icon1"></i>
                        <span title="我的消息">我的消息</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p11-icon1"></i>
                        <span title="我的关注">我的关注</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p12-icon1"></i>
                        <span title="我的功能性道具">我的功能性道具</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p13-icon1"></i>
                        <span title="领取魅力值">领取魅力值</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p14-icon1"></i>
                        <span title="我的票务">我的票务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="r-box">
            <div class="order-title">
                <p class="priv-p1" style="margin-left: 20px"><b>我的收货地址</b>
                    <span class="line"><s class="l-b"></s></span></p>
            </div>
            <!---->
            <div class="add-box">
                <a class="add-butt"><b>新增收货地址</b></a>
                <span>您已创建<span class="green">2</span>个收货地址，最多可创建<span class="green">5</span>个</span>
            </div>
            <!--收货地址列表-->
            <div class="addr-list">

            </div>
            <!--收货地址列表-->
        </div>

    </div>
    <!---->
</div>
</div>
</body>
</html>