<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/address.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/personal.css" type="text/css">
    <link rel="stylesheet" href="../css/myOrder.css" type="text/css">
</head>
<body style="color: #3a3f4a;">
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="personal.html">手机版</a></li>
                <li><a href="personal.html">游戏币交易</a></li>
                <li><a href="personal.html">Q币充值</a></li>
                <li><a href="personal.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="login.html">请先登录</a></li>
                <li><a href="personal.html">我的订单</a></li>
                <li><a href="personal.html">个人中心</a></li>
                <li><a href="personal.html">官方论坛</a></li>
                <li><a href="personal.html">帮助中心</a></li>
                <li><a href="personal.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="../index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap" style="height: 900px">
    <div class="frien"><a href="../index.html">道具城</a> > <a href="personal.html">
        个人中心</a> > <a href="myOrder.html">我的订单</a></div>
    <div class="p6-wrap" style="height: 850px">
        <div class="left-nav">
            <ul>
                <li>
                    <a href="personal.html">
                        <i class="user-icon"></i>
                        <span title="个人中心首页">个人中心首页</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="privilege-icon"></i>
                        <span title="我的特权">我的特权</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="task-icon"></i>
                        <span title="我的任务">我的任务</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html">
                        <i class="p4-icon1"></i>
                        <span title="我的订单">我的订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p5-icon1"></i>
                        <span title="我的周边订单">我的周边订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p6-icon1"></i>
                        <span title="我的收获地址">我的收获地址</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p7-icon1"></i>
                        <span title="我的收获地址">我的购物点</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p8-icon1"></i>
                        <span title="我的优惠卷">我的优惠卷</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p9-icon1"></i>
                        <span title="我的聚豆">我的聚豆</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p10-icon1"></i>
                        <span title="我的消息">我的消息</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p11-icon1"></i>
                        <span title="我的关注">我的关注</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p12-icon1"></i>
                        <span title="我的功能性道具">我的功能性道具</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p13-icon1"></i>
                        <span title="领取魅力值">领取魅力值</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p14-icon1"></i>
                        <span title="我的票务">我的票务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="r-box">
            <div class="order-title">
                <p class="priv-p1" style="margin-left: 20px"><b>我的收货地址</b>
                    <span class="line"><s class="l-b"></s></span></p>
            </div>
            <!---->
            <div class="add-box">
                <a class="add-butt"><b>新增收货地址</b></a>
                <span>您已创建<span class="green">2</span>个收货地址，最多可创建<span class="green">5</span>个</span>
            </div>
            <!--收货地址列表-->
            <div class="addr-list">
                <div class="name_addr"><b>青鱼 北海</b><a class="delete">X</a></div>
                <div class="detail"><span>收货人：</span><span>青鱼</span></div>
                <div class="detail"><span>所在地区：</span><span>广西 北海 海城区</span></div>
                <div class="detail"><span>地址：</span><span>西藏路</span></div>
                <div class="detail"><span>手机：</span><span>18577993253</span></div>
                <div class="detail"><span>固定电话：</span><span>18577993253</span></div>
                <div class="detail"><span>邮编：</span></div>
            </div>
            <!--收货地址列表-->
            <!--收货地址列表-->
            <div class="addr-list" style="margin-top: 20px">
                <div class="name_addr"><b>小花 南宁</b><a class="delete">X</a></div>
                <div class="detail"><span>收货人：</span><span>小花</span></div>
                <div class="detail"><span>所在地区：</span><span>广西 南宁 </span></div>
                <div class="detail"><span>地址：</span><span> 灵水路</span></div>
                <div class="detail"><span>手机：</span><span>18577993253</span></div>
                <div class="detail"><span>固定电话：</span><span>18577993253</span></div>
                <div class="detail"><span>邮编：</span></div>
            </div>
            <!--收货地址列表-->
        </div>

    </div>
    <!---->
</div>
</div>
<div class="bottom">
    <div class="bottom-1">
        <div class="bottom-1-r">
            <ul>
                <li class="border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                    <p>什么是道具城</p>
                    <p>如何购买</p>
                    <p>如何赠送</p>
                    <p>如何获取聚豆</p>
                </li>
                <li class="border-b">
                    <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                    <p>发货时间</p>
                    <p>如何领取</p>
                    <p>补发规则</p>
                    <p>VIP价定义</p>
                    <p>道具状态定义</p>
                </li>
                <li class="border-b">
                    <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                    <p>支付方式</p>
                    <p>购物点支付</p>
                    <p>如何充值</p>
                </li>
                <li class="b-04 border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                    <p>腾讯官方在线客服</p>
                </li>
            </ul>
        </div>
        <div class="QR-code">
            <img src="../images/zsdjc.png">

            <img src="../images/wechatdjc.png">
            <p>掌上道具城</p>
            <p>道具城公众号</p>
        </div>
    </div>
    <div class="footnote">
        <a href="../index.html">服务条款</a>
        <a href="../index.html">娱乐互动娱乐</a>
        <a href="../index.html">广告服务</a>
        <a href="../index.html">腾讯游戏招聘</a>　
        <a href="../index.html">腾讯游戏客服</a>
        <a href="../index.html">成长守护平台</a>　
        <a href="../index.html">网站导航</a>
        <br>
        COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
        腾讯公司 版权所有
    </div>
</div>
</div>
</body>
</html>