<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-聚诚品</title>
    <link rel="icon" href="../images/icon-1.png">
    <link href="../css/eslite.css" rel="stylesheet" type="text/css">
</head>
<body style="background: #fafafa">
<div class="head">
    <div class="head-c">
        <div class="head-left">
           <span>聚诚品,个性彰显,品质至上</span>
        </div>
        <div class="head-right">
            <ul>
                <li><a>请先登录</a></li>
                <li><a>游戏导航</a></li>
                <li><a>移动商城</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="nav-wrap">
<div class="nav-c">
    <div class="logo"></div>
    <div class="nav-1">
        <ul>
            <li class="li-1"><a href="../index.html">首页</a></li>
            <li class="li-2"><a href="activity.html">活动中心</a></li>
            <li class="li-2"><a href="eslite.html">聚诚品</a></li>
            <li class="li-2"><a href="mobileGames.html">手游中心</a></li>
            <li class="li-2"><a href="mall.html">聚豆商城</a></li>
            <li class="li-2"><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
</div>
<div class="Carousel"></div>
<div class="loge-2"></div>
<div class="main-1">
<ul>
    <li><img src="../images/p2-m1-1.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-2.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-3.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-4.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-5.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-6.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-7.jpg"><span class="main-word">立即进入</span></li>
    <li><img src="../images/p2-m1-8.png"><span class="main-word">立即进入</span></li>
</ul>
</div>
<div class="loge-2"><img src="../images/p2-m2-logo.png"></div>
<div class="main-2">
    <ul>
        <li><a><img src="../images/p2-m2-01.jpg"></a><p>穿越火线-3D定制手机壳-凯瑞</p><b>¥59.00</b><span>销量:228</span></li>
        <li><a><img src="../images/p2-m2-02.jpg"></a><p>穿越火线-3D定制手机壳-巴雷特</p><b>¥59.00</b><span>销量:497</span></li>
        <li><a><img src="../images/p2-m2-05.jpg"></a><p>QQ炫舞-定制手机壳</p><b>¥59.00</b><span>销量:106</span></li>
        <li><a><img src="../images/p2-m2-04.jpg"></a><p>剑灵-【种族系列】灵族猫耳嘻哈帽</p><b>¥148.00</b><span>销量:105</span></li>
        <li><a><img src="../images/p2-m2-03.jpg"></a><p>圣斗士手机壳</p><b>¥88.00</b><span>销量:0</span></li>
        <li><a><img src="../images/p2-m2-06.jpg"></a><p>剑灵-超大号秋湘玉魅丽鼠标垫</p><b>¥55.00</b><span>销量:26</span></li>
        <li><a><img src="../images/p2-m2-07.jpg"></a><p>炫舞时代-愤怒熊 保温杯</p><b>¥59.00</b><span>销量:106</span></li>
        <li><a><img src="../images/p2-m2-08.jpg"></a><p>穿越火线-斯沃特保温杯</p><b>¥85.00</b><span>销量:227</span></li>
        <li><a><img src="../images/p2-m2-09.jpg"></a><p>QQ炫舞-萌犬柯基趴趴公仔</p><b>¥49.30</b><span>销量:357</span></li>
        <li><a><img src="../images/p2-m2-10.jpg"></a><p>LOL-2018春节限定内瑟斯收藏款毛绒</p><b>¥108.00</b><span>销量:349</span></li>
        <li><a><img src="../images/p2-m2-11.jpg"></a><p>地下城与勇士-男神枪手 Q版手办</p><b>¥98.00</b><span>销量:200</span></li>
        <li><a><img src="../images/p2-m2-12.jpg"></a><p>英雄联盟-李青纪念款夹克</p><b>¥720.00</b><span>销量:329</span></li>
    </ul>
</div>
<div class="bottom">
<div class="bottom-1">
    <div class="b-left"><img src="../images/p2-b-logo.png"></div>
    <div class="b-center">
        <ul>
            <li class="li-01"><i class="comm-2"></i>购物指南</li>
            <li class="li-02 li-01"><i class="comm-2"></i>常见操作</li>
            <li class="li-03 li-01"><i class="comm-2"></i>关于我们</li>
            <li class="li-04 li-01"><i class="comm-2"></i>配送方式</li>
            <li class="li-05 li-01"><i class="comm-2"></i>售后服务</li>
        </ul>
    </div>
    <div class="b-right">
        <ul>
            <li><img src="../images/code.png"><p>聚诚品公众号</p></li>
            <li><img src="../images/wechatdjc.png"><p>道聚城公众号</p></li>
            <li><img src="../images/zsdjc.png"><p>掌上道聚城</p></li>
        </ul>
    </div>
    <div class="footnote">
        <a href="eslite.html">服务条款</a>
        <a href="eslite.html">娱乐互动娱乐</a>
        <a href="eslite.html">广告服务</a>
        <a href="eslite.html">腾讯游戏招聘</a>　
        <a href="eslite.html">腾讯游戏客服</a>
        <a href="eslite.html">成长守护平台</a>　
        <a href="eslite.html">网站导航</a>
        <br>
        COPYRIGHT 1998-2018 TENCENT.ALL RIGHTS RESERVER．<br>
        腾讯公司 版权所有
    </div>
</div>
</div>
</body>
</html>