<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/login.css" type="text/css">

    <link rel="stylesheet" href="../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../dist/css/bootstrap-theme.css">
    <script src="../dist/js/jquery.js"></script>
    <script src="../dist/js/bootstrap.js"></script>
</head>
<body>

<div class=" container-fluid head">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li>QQ登录</li>
                <li>简体中文</li>
                <li>意见反馈</li>
            </ul>
        </div>
    </div>
</div>
<div class="container form_wrap">
    <div class="row">
        <p class="title">欢迎注册道具城</p>
        <p class="title_2">每一天，乐在购。 <span>QQ快速注册</span></p>
        <form class="form">
            <input class="nickname" placeholder="昵称">
            <p class="prompt"><img src="../images/error.png">昵称不能为空</p>
            <input class="nickname" placeholder="密码">
            <p class="prompt"><img src="../images/error.png">密码不能为空</p>
            <p>
                <input class="number" style="width: 80px" placeholder="+86">
                <input class="number" style="margin-left: 8px" placeholder="手机号码">
            </p>
            <p class="prompt">填写手机号码</p>
            <p>
                <input class="number" style="width: 80px" placeholder="短信验证码">
                <input class="number" style="margin-left: 8px" placeholder="发送短信验证码">
            </p>
        </form>
        <button class="buttons">立即注册</button>
        <p class="terms"><input type="checkbox">我已阅读并同意相关服务条款和相关隐私政策</p>
    </div>
</div>
Copyright © 1998-2018Tencent All Rights Reserved
</body>
</html>