<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯游戏道聚城-个人中心</title>
    <link rel="icon" href="../images/icon-1.png">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/personal.css" type="text/css">
</head>
<body>
<div class="head">
    <div class="head-c">
        <div class="head-left">
            <ul>
                <li><a href="personal.html">手机版</a></li>
                <li><a href="personal.html">游戏币交易</a></li>
                <li><a href="personal.html">Q币充值</a></li>
                <li><a href="personal.html">心悦游戏家</a></li>
            </ul>
        </div>
        <div class="head-right">
            <ul>
                <li><a href="login.html">请先登录</a></li>
                <li><a href="personal.html">我的订单</a></li>
                <li><a href="personal.html">个人中心</a></li>
                <li><a href="personal.html">官方论坛</a></li>
                <li><a href="personal.html">帮助中心</a></li>
                <li><a href="personal.html">游戏导航</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="logo">
    <div class="logo-l"></div>
    <div class="search"><input type="text" placeholder="请选择游戏搜索道具">
        <button></button>
    </div>
    <div class="logo-2"></div>
</div>
<div class="nav">
    <div class="nav-c">
        <ul>
            <li><a href="index.html">所有游戏分类</a></li>
            <li><a href="../index.html">首页</a></li>
            <li><a href="activity.html">活动中心</a></li>
            <li><a href="eslite.html">聚诚品</a></li>
            <li><a href="mobileGames.html">手游中心</a></li>
            <li><a href="mall.html">聚豆商城</a></li>
            <li><a href="personal.html">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <div class="frien">道具城 > 个人中心</div>
    <div class="p5-wrap">
        <div class="left-nav">
            <ul>
                <li>
                    <a href="personal.html">
                        <i class="user-icon"></i>
                        <span title="个人中心首页">个人中心首页</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="privilege-icon"></i>
                        <span title="我的特权">我的特权</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="task-icon"></i>
                        <span title="我的任务">我的任务</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html">
                        <i class="p4-icon1"></i>
                        <span title="我的订单">我的订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p5-icon1"></i>
                        <span title="我的周边订单">我的周边订单</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p6-icon1"></i>
                        <span title="我的收获地址"><a href="address.html">我的收获地址</a></span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p7-icon1"></i>
                        <span title="我的购物点">我的购物点</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p8-icon1"></i>
                        <span title="我的优惠卷">我的优惠卷</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p9-icon1"></i>
                        <span title="我的聚豆">我的聚豆</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p10-icon1"></i>
                        <span title="我的消息">我的消息</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p11-icon1"></i>
                        <span title="我的关注">我的关注</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p12-icon1"></i>
                        <span title="我的功能性道具">我的功能性道具</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p13-icon1"></i>
                        <span title="领取魅力值">领取魅力值</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="p14-icon1"></i>
                        <span title="我的票务">我的票务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="data">
            <div class="data1">
                <div class="data-left">
                    <img src="../images/g.jpg" title="点击修改头像">
                    <p class="qq"><span>1210673737</span>(北冥有鱼)</p>
                    <p class="member"><i class="p5-icon2"></i>非心悦会员</p>
                    <p class=" binding"><i class="p5-icon2"></i>未绑定</p>
                </div>
                <div class="data-right">
                    <p>成长值<span style="color: red">351</span><span class="spsn1">距离升级还需<span
                            style="color: red">49649</span>成长值</span></p>
                    <div class="Progress-bar"><i class="xyicon"><span style="width: 15px"></span></i>
                    </div>
                    <span class="spsn3" style="margin-left: 0">非会员</span> <span class="spsn3">10000-49999</span>
                    <span class="spsn3">心悦VIP1</span>
                    <span class="spsn3" style="margin-left: 110px">心悦VIP2</span> <span class="spsn3"
                                                                                       style="margin-left: 102px">心悦VIP3</span>
                </div>
            </div>
            <p class="account"><span style="float: left;margin-left: 15px">个人账户:</span><i class="act-icon"></i>0</p>
        </div>
        <div class="recen"><!--right-box-->
            <div class="Sign-in">
                <p><span style="margin-left: 10px">最近登录的游戏</span></p>
                <ul>
                    <li><img src="../images/cf.jpg"><span>穿越火线</span></li>
                    <li><img src="../images/lol.jpg"><span>英雄联盟</span></li>
                    <li><img src="../images/speed.jpg"><span>QQ飞车</span></li>
                    <li><img src="../images/dnf.jpg"><span>地下城与  勇士</span></li>
                </ul>
            </div>
            <div class="consum">
                <p><span style="margin-left: 10px">本月累计消费</span></p>
                <div class="consum-2">
                    <ul>
                        <li>本月累计消费总额（元）</li>
                        <li>本月消费排行</li>
                        <li>本月成功订单数（笔）</li>
                        <li class="zero" style="font-size: 25px">0</li>
                        <li class="zero" style="font-size: 25px">0</li>
                        <li>暂无排行</li>
                    </ul>
                </div>
            </div>
            <div class="save-num">	<span style="margin-left: 10px">
                本月道聚城为您省了：<span style="color: red;font-size: 18px">0 Q币</span></span></div>
            <div class="privilege">
                <div class="privilege-2">
                    <p class="priv-p1"><b>我的特权<span class="player">心悦游戏玩家</span></b>
                        <span class="line"><s class="l-b"></s></span></p>
                    <ul>
                        <li class="p5-border">
                            <i class="priv1"></i>
                            <p class="title">专享优惠券</p>
                        </li>
                        <li class="p5-border2">
                            <i class="priv2"></i>
                            <p class="title">首次消费</p>
                        </li>
                        <li class="p5-border3">
                            <i class="priv3"></i>
                            <p class="title">道具缝十礼</p>
                        </li>
                        <li class="p5-border">
                            <i class="priv4"></i>
                            <p class="title">消费成长礼</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="privilege">
                <div class="task">
                    <p class="priv-p1" style="margin-left: 20px"><b>我的任务</b>
                        <span class="line"><s class="l-b"></s></span></p>
                    <ul>
                        <li>
                            <i class="priv5"></i>
                            <p class="title2">每日签到</p>
                        </li>
                        <li>
                            <i class="priv6"></i>
                            <p class="title2">完善资料</p>
                        </li>
                        <li>
                            <i class="priv7"></i>
                            <p class="title2">下载app</p>
                        </li>
                        <li>
                            <i class="priv8"></i>
                            <p class="title2">每日登陆app</p>
                        </li>
                        <li>
                            <i class="priv9"></i>
                            <p class="title2">app首笔消费</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-wrap">
                <div class="order">
                    <div class="img-wrap"></div>
                    <div class="order-p">
                        <b>近期暂无订单信息！</b><br><br>
                        <p>您可以：</p>
                        <p>1、进入道道聚城首页更多折扣道具等着你，<a href="../index.html">立即前往></a></p>
                    </div>
                </div>
            </div>
            <div class="Recommend">
                <div class="Recommend-wrap">
                    <div class="Recommend-title">
                        <b style="margin-left: 10px">猜你喜欢</b><a href="personal.html">换一换>></a></div>
                    <div class="Recommend-p5">
                        <ul>
                            <li class="p5-border">
                                <img src="../images/boosts-1.jpg">
                                <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                                <p class="R-words"><a>胜利经验卡(10胜)</a></p>
                                <p class="li-3">商城价:<b>29.00QB</b></p>
                            </li>
                            <li class="border-t-b">
                                <img src="../images/boosts-2.jpg">
                                <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                                <p class="R-words"><a>双倍金币卡(3日)</a></p>
                                <p class="li-3">商城价:<b>22.00QB</b></p>
                            </li>
                            <li class="p5-border">
                                <img src="../images/boosts-3.jpg">
                                <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                                <p class="R-words"><a>高丽风情 阿狸</a></p>
                                <p class="li-3">商城价:<b>10.00QB</b></p>
                            </li>
                            <li class="border-t-b">
                                <img src="../images/boosts-4.jpg">
                                <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                                <p class="R-words"><a>战地机甲 斯卡纳</a></p>
                                <p class="li-3">商城价:<b>34.50QB</b></p>
                            </li>
                            <li class="p5-border">
                                <img src="../images/boosts-5.jpg">
                                <p class="R-words p-1"><a><b>[英雄联盟]</b></a></p>
                                <p class="R-words"><a>黑色荆棘 莫甘娜</a></p>
                                <p class="li-3">商城价:<b>69.00QB</b></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bottom">
    <div class="bottom-1">
        <div class="bottom-1-r">
            <ul>
                <li class="border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>我是新手</span>
                    <p>什么是道具城</p>
                    <p>如何购买</p>
                    <p>如何赠送</p>
                    <p>如何获取聚豆</p>
                </li>
                <li class="border-b">
                    <span class="b-02 bottom-01"><i class="p1-icon1"></i>个人中心</span>
                    <p>发货时间</p>
                    <p>如何领取</p>
                    <p>补发规则</p>
                    <p>VIP价定义</p>
                    <p>道具状态定义</p>
                </li>
                <li class="border-b">
                    <span class="b-03 bottom-01"><i class="p1-icon1"></i>支付方式 </span>
                    <p>支付方式</p>
                    <p>购物点支付</p>
                    <p>如何充值</p>
                </li>
                <li class="b-04 border-b">
                    <span class="bottom-01"><i class="p1-icon1"></i>腾讯在线服务</span>
                    <p>腾讯官方在线客服</p>
                </li>
            </ul>
        </div>
        <div class="QR-code">
            <img src="../images/zsdjc.png">

            <img src="../images/wechatdjc.png">
            <p>掌上道具城</p>
            <p>道具城公众号</p>
        </div>
    </div>
    <div class="footnote">
        <a href="personal.html">服务条款</a>
        <a href="personal.html">娱乐互动娱乐</a>
        <a href="personal.html">广告服务</a>
        <a href="personal.html">腾讯游戏招聘</a>　
        <a href="personal.html">腾讯游戏客服</a>
        <a href="personal.html">成长守护平台</a>　
        <a href="personal.html">网站导航</a>
        <br>
        COPYRIGHT © 1998 – 2018 TENCENT. ALL RIGHTS RESERVED.<br>
        腾讯公司 版权所有
    </div>
</div>

</body>
</html>