* {
    padding: 0;
    margin: 0;
    color: #444;
}

.container {
    /*outline: 2px solid red;*/
}

.row {
    /*outline: 2px solid #ff8a27;*/
}

.row > div {
    /*outline: 2px solid #0055ff;*/
}

/****************************************************/
.register-logo {
    background: url("../images/bg.png") no-repeat;
    background-size: 75%;
    height: 55px;
}

.register-head {
    height: 55px;
    /*background: #ff8698;*/
    border-bottom: 1px solid #e1e1e1;
}

.register-head ul {
    float: right;
    height: 55px;
    margin-bottom: 0;

}

.register-head ul li {
    float: left;
    height: 55px;
    margin-right: 50px;
    list-style-type: none;
    line-height: 55px;
}

.form_wrap {
    /*width: 310px;*/
    height: 500px;
    /*background: #f9c2f1;*/
    margin-top: 50px;
}

.title {
    font-size: 23px;
}

.title_2 {
    font-size: 16px;
    margin-top: 10px;
}

.title_2 span {
    font-size: 14px;
    float: right;
    color: #00a5ff;
}

.form {
    /*padding:0 20px 0 20px  ;*/
}

/*表单样式*/
.form-content {
    margin-bottom: 16px;
}

.form-content input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    /*border: 1px solid #ff5b5b;*/
    border: 1px solid #b9b9b9;
    outline: none;
    text-indent: .5em;
    font-size: 14px;
    color: #666;
}

.form-content input::-webkit-input-placeholder {
    color: #bebebe;
}

.register-tip {
    margin-top: 4px;
    font-size: 14px;
    text-indent: 2px;
    color: #ff5b5b;
    display: none;
}

.register-tip p {
    margin: 0;
}

.register-tip i {
    display: inline-block;
    background: url("../images/error.png") no-repeat 0 3px;
    padding: 0 16px 0 0;
    height: 18px;
    float: left;
}

.user-phone .phone-number {
    width: 75%;
}

.user-phone .phone-code {
    width: 20%;
    float: right;
}

.goRegister {
    width: 100%;
    height: 50px;
    background: #3487ff;
    color: #f8f8f8;
    border: 1px solid #3487ff;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 20px;
}

.terms {
    margin-top: 10px;
}

.terms label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 4px;
    font-weight: normal;
    color: #666;
}

.footnote {
    text-align: center;
    margin-top: 90px;
}