<div class="sidebar">
    <h2 class="sidebar-header"><p>功能导航</p></h2>
    <ul class="nav">
        <li class="office"><div class="nav-header"><a href="{:url('index/index')}"class="ue-clear"><span>首页</span><i class="icon"></i></a></div></li>
        <li class="gongwen"><div class="nav-header"><a href="{:url('index/infomg')}" class="ue-clear"><span>信息管理</span><i class="icon"></i></a></div></li>
        <li class="nav-info">
            <div class="nav-header"><a href="{:url('index/infoedit')}" class="ue-clear"><span>信息录入</span><i class="icon"></i></a></div>
        </li>
        <li class="konwledge"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>知识管理</span><i class="icon"></i></a></div></li>
        <li class="agency"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>组织结构</span><i class="icon"></i></a></div></li>
        <li class="email"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>邮件管理</span><i class="icon"></i></a></div></li>
        <li class="system"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>系统管理</span><i class="icon"></i></a></div></li>
    </ul>
</div>